.about-banner {
  margin-top: 5.857rem;
  padding-top: 5.714rem;
  position: relative;
  min-height: 68rem;

  &__bg {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    mix-blend-mode: soft-light;
    max-height: 68rem;

    &::before {
      content: "";
      background: linear-gradient(360deg, #ededed 0%, #ededed 100%);
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      opacity: 0.4;
    }
  }

  &__breadcrumps{
    position: absolute;
    top: 5.7rem;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    display: block;
    width: 50%;

    em {
      font-family: $italic;
    }
  }

  &__description {
    margin: 1.143rem auto 0 auto;
    text-align: center;
    width: 18rem;
    margin-bottom: 23.857rem;
  }

  &__slider {

    @include media(mobile) {
      margin-right: -1.714rem;
      margin-top: 4.286rem;
      position: static;
    }
  }

  &__slides {
    gap: 1.143rem;
    justify-content: center;
    margin-bottom: 5rem;
    ;

    @include media(mobile) {
      justify-content: flex-start;
    }
  }

  &__item {
    background-color: $white;
    padding: 1.714rem 3.643rem 1.714rem 1.714rem;
    height: 29.643rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    min-width: 24rem;

    &:nth-child(odd) {
      margin-top: 4.143rem;

      @include media(mobile) {
        margin-top: 0;
      }
    }

    &-number {
      font-size: 4.286rem;
      font-family: $italic;
      position: relative;
      padding-left: 3rem;

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        height: 3.071rem;
        width: 2.571rem;
      }
    }

    &-title {
      font-size: 1.929rem;
      color: $red;
      font-family: $medium;

      strong {
        font-size: 0.8rem;
        font-weight: 800;
        vertical-align: super;
      }
    }

    &-text {
      line-height: 120%;
      width: 16.429rem;
    }
  }
}

.about-projects {
  &__title {
    em {
      font-family: $italic;
    }

  }
}

.about-stages {
  padding-top: 7.143rem;

  &__heading {
    text-align: center;
    margin-bottom: 8.571rem;
  }

  &__section-title {
    em {
      font-family: $italic;
    }
  }

  &__subtitle {
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.286rem;
    margin-top: 1.714rem;

    svg {
      height: 0.786rem;
      width: 0.643rem;
    }
  }

  &__item-inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 12.071rem 5.643rem;
    gap: 1.143rem;
  }

  &__bg {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: soft-light;
  }

  &__img {
    position: relative;
    width: 40.714rem;
  }

  &__text {
    width: 26%;
    text-align: end;
  }

  &__title {
    font-size: 1.929rem;
    text-align: end;
    margin-bottom: 1.714rem;
  }

  &__year-first {
    position: absolute;
    right: 67%;
    font-size: 11.429rem;
    font-family: $medium;
    top: 5.214rem;
  }

  &__year-last {
    position: absolute;
    left: 65%;
    font-size: 11.429rem;
    font-family: $italic;
    bottom: 7.571rem;
    z-index: 2;
  }
}

.about-mission {

  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 8.571rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.143rem;
  }

  &__text {
    width: 50%;
  }

  &__description {
    p {
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;

      em {
        font-family: $italic;
      }
    }
  }

  &__paragraph {
    font-size: 1.429rem;
    line-height: 120%;
    margin-bottom: 5.357rem;
  }

  &__title {
    position: relative;
    padding-left: 4.571rem;
    line-height: 83%;

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
      position: absolute;
      left: 0;
      height: 4.643rem;
      width: 3.857rem;
    }

    em {
      font-family: $italic;
    }
  }

  &__icon {
    width: 5.357rem;
    height: 4.143rem;
  }


  &__video {
    overflow: hidden;
    max-width: 100%;

    video {
      width: 100%;
      height: auto;
    }
  }
}

.about-values {

  &__wrapper {
    display: flex;
    padding-bottom: 13.429rem;
    padding-top: 20.214rem;
  }

  &__left {
    flex: 1;
    margin-top: 6rem;
  }

  &__heading {
    margin: 0;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    p {

      em {
        font-family: $italic;
      }
    }
  }

  &__right {
    flex: 1;
    margin-top: 14rem;
  }

  &__list {
    counter-reset: item;
    list-style-type: none;
  }

  &__item {
    counter-increment: item;
    background-color: $white;
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 1.929rem;
    align-items: center;
    padding-top: 6rem;
    transition: $transition;

    &:hover,
    &:focus {
      background-color: $red;
      color: $white;

      &::before {
        color: $black;
      }
    }

    &::before {
      content: counter(item, decimal-leading-zero) ". ";
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      left: 50%;
      font-size: 4.286rem;
      font-family: $italic;
    }

    &:nth-child(even) {
      transform: rotate(5deg);
      margin-left: 20rem;
      margin-bottom: -7rem;
    }

    &:nth-child(odd) {
      transform: rotate(-5deg);
      margin-bottom: -7rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 0.786rem;
    line-height: 109%;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    width: 13.857rem;
    text-align: center;
    font-size: 1rem;
    line-height: 120%
  }
}

.about-team {
  padding-top: 8.571rem;
  padding-bottom: 8.571rem;
  background-color: $white;
  border-radius: 1.429rem;

  &__content {
    display: flex;
    gap: 1.143rem;
  }

  &__image {
    flex: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    text-transform: uppercase;
    ;
  }

  &__description {
    width: 24.286rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__logo {
    margin-top: 0.857rem;
    width: 3.143rem;
    height: 2.429rem;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__link {
    height: 4.429rem;
    display: flex;
    margin-left: 10rem;

    span {
      width: 9.5rem;
      font-size: 0.786rem;
      line-height: 90%;

      &::before {
        width: 1.143rem;
        height: 1.214rem;
      }
    }
  }

  &__title {
    margin-top: 2.286rem;

    em {
      font-family: $italic;
    }
  }
}