.about-banner {
  margin-top: 5.857rem;
  padding-top: 5.714rem;
  position: relative;
  min-height: 65rem;

  @include media(mobile) {
    padding-top: 7.3571rem;
    margin-top: 0;
    padding-bottom: 5.5rem;
  }


  &__bg {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    mix-blend-mode: soft-light;
    max-height: 69rem;

    @include media(mobile) {
      background-size: cover;
      top: 6rem;
      max-height: 59rem;
      background-position-x: 50%;
    }

    &::before {
      content: "";
      background: linear-gradient(360deg, #ededed 0%, #ededed 100%);
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      opacity: 0.4;
    }
  }

  &__breadcrumps {
    position: absolute;
    top: 7.7rem;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    display: block;
    width: 50%;

    @include media(mobile) {
      width: 100%;
      text-align: start;
      margin-top: 2rem;
    }

    em {
      font-family: $italic;
    }
  }

  &__description {
    margin: 1.143rem auto 0 auto;
    text-align: center;
    width: 18rem;
    margin-bottom: 23.857rem;

    @include media(mobile) {
      text-align: start;
      width: 97%;
      margin-bottom: 0;
    }
  }

  &__slider {
    max-width: 102.857rem;
   
    @include media(mobile) {
      margin-right: -1.714rem;
      margin-top: 4.286rem;
      max-width: 26.786rem;
      }
    }
  

  &__slides {
    gap: 1.143rem;
    justify-content: center;
    margin-bottom: 5rem;
    display: flex;

    @include media(mobile) {
      justify-content: flex-start;
      gap: 0.571rem;
    }
  }

  &__item {
    background-color: $white;
    padding: 1.714rem 3.643rem 1.714rem 1.714rem;
    height: 29.643rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: fit-content;
    width: 24rem!important;
    @include media(mobile) {
     width: 23.214rem !important;
    }

    &:nth-child(odd) {
      margin-top: 4.143rem;

      @include media(mobile) {
        margin-top: 0;
      }
    }

    &-number {
      font-size: 4.286rem;
      font-family: $italic;
      position: relative;
      padding-left: 3rem;

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        height: 3.071rem;
        width: 2.571rem;
      }
    }

    &-title {
      font-size: 1.929rem;
      color: $red;
      font-family: $medium;

      strong {
        font-size: 0.8rem;
        font-weight: 800;
        vertical-align: super;
      }
    }

    &-text {
      line-height: 120%;
      width: 16.429rem;
    }
  }
  .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 91%;
    height: 0.071rem;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: initial;
    @include media(mobile) {
      width: 75%;
      transform: translate(-54%, -50%);
      top: 34.6rem;
    }
  }
  .swiper-button-next{
    right: 2rem ;
  }
}
  

.about-projects {
  &__title {
    em {
      font-family: $italic;
    }

  }
}

.about-stages {
  padding-top: 7.143rem;


  &__heading {
    text-align: center;
    margin-bottom: 8.571rem;
  }

  &__section-title {
    em {
      font-family: $italic;
    }
  }

  &__subtitle {
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.286rem;
    margin-top: 1.714rem;

    svg {
      height: 0.786rem;
      width: 0.643rem;
    }
  }

  &__item-inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 12.071rem 6.4rem;
    gap: 1.143rem;

    @include media(mobile) {
      padding: 0 1.143rem;
      flex-direction: column-reverse;
    }
  }

  &__bg {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: soft-light;
  }

  &__img {
    position: relative;
    width: 40.714rem;

    @include media(mobile) {
      width: 24.5rem;
      margin-bottom: 9.214rem;
    }
  }

  &__text {
    width: 26%;
    text-align: end;

    @include media(mobile) {
      width: 100%;
      text-align: start;
    }
  }

  &__title {
    font-size: 1.929rem;
    text-align: end;
    margin-bottom: 1.714rem;
    @include media(mobile) {
     
      text-align: start;
    }
  }

  &__year-first {
    position: absolute;
    right: 89%;
    font-size: 11.429rem;
    font-family: "HelveticaNeueCyr-Medium", "sans-serif";
    bottom: 21.5rem;

    @include media(mobile) {
      font-size: 4.286rem;
      right: 19.7rem;
      bottom: 16rem;

    }
  }

  &__year-last {
    position: absolute;
    left: 37rem;
    font-size: 11.429rem;
    font-family: "HelveticaNeueCyr-LightItalic", "sans-serif";
    z-index: 2;
    top: 19.5rem;

    @include media(mobile) {
      font-size: 4.286rem;
      left: 20rem;
      z-index: 2;
      top: 14.5rem;
    }
  }
}

.about-mission {

  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 8.571rem;

  &__wrapper {
    display: flex;
    gap: 6rem;
    margin-bottom: 5.143rem;
    @include media(mobile) {
      flex-direction: column;
      margin-bottom: 3.429rem;
    }
  }

  &__text {
    width: 50%;
    padding-left: 1.6rem;
    @include media(mobile) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__description {
    p {
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      line-height: 100%;
      letter-spacing: 0.01rem;
      @include media(mobile) {
        font-size: 1.286rem;
      }

      em {
        font-family: $italic;
      }
    }
  }

  &__paragraph {
    font-size: 1.429rem;
    line-height: 120%;
    margin-bottom: 5.357rem;
    @include media(mobile) {
      font-size: 1rem;
      margin-bottom: 3.429rem;
    }
  }

  &__title {
    position: relative;
    padding-left: 4.571rem;
    line-height: 83%;
    @include media(mobile) {
      padding-left: 2.571rem;
    }

    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
      position: absolute;
      left: 0;
      height: 4.643rem;
      width: 3.857rem;
      @include media(mobile) {
        height: 1.714rem;
        width: 2.143rem;
      }
    }

    em {
      font-family: $italic;
    }
  }

  &__icon {
    width: 5.357rem;
    height: 4.143rem;
  }


  &__video {
    overflow: hidden;
    max-width: 100%;
    max-height: 49.8rem;

    video {
      width: 100%;
      height: auto;
    }
  }
}

.about-values {

  &__wrapper {
    display: flex;
    padding-bottom: 13.429rem;
    padding-top: 20rem;
    gap: 10rem;

    @include media(mobile) {
      padding-top: 5.714rem;
      padding-bottom: 5.714rem;
      flex-direction: column;
      gap: 5rem;
    }
  }

  &__left {
    flex: 1;


    @include media(mobile) {}
  }

  &__heading {
    margin: 0;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    p {

      em {
        font-family: $italic;
      }
    }
  }

  &__right {
    flex: 1;
    margin-top: 16rem;

    @include media(mobile) {
      margin-top: 0;
      
    }
  }

  &__list {
    counter-reset: item;
    list-style-type: none;
    counter-reset: item;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
    @include media(mobile) {
      max-width: 26.786rem;
      margin-bottom: 6.3rem;
      flex-direction: initial;
    }
  }

  &__item {
    counter-increment: item;
    background-color: $white;
    border-radius: 50%;
    width: 22rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 3rem;
    align-items: center;
    padding-top: 6.2rem;
    transition: $transition;
    margin-top: 2rem;
    @include media(mobile) {
      width: 22rem;
      height: 22rem;
    }

    &:hover,
    &:focus {
      background-color: $red;
      color: $white;

      &::before {
        color: $black;
      }
    }

    &::before {
      content: counter(item, decimal-leading-zero) ". ";
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      left: 50%;
      font-size: 4.286rem;
      font-family: $italic;
    }

    &:nth-child(even) {
      transform: rotate(5deg);
      margin-left: 20rem;
      margin-bottom: -7rem;
      @include media(mobile) {
        margin-left: 0;
        margin-bottom: 0;
      }
    }

    &:nth-child(odd) {
      transform: rotate(-5deg);
      margin-bottom: -7rem;
      @include media(mobile) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 0.786rem;
    line-height: 109%;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    width: 13.857rem;
    text-align: center;
    font-size: 1rem;
    line-height: 120%
  }
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal{
    display: none;
    @include media(mobile) {
      display: block;
    }
  }
}

.about-team {
  padding-top: 8.571rem;
  padding-bottom: 8.571rem;
  background-color: $white;
  border-radius: 1.429rem;
  @include media(mobile) {
    position: relative;
    padding-bottom: 8.071rem;
    padding-bottom: 5.714rem;
  }
  
  &__wrapper{
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  &__content {
    display: flex;
    gap: 1.143rem;
    @include media(mobile) {
      flex-direction: column;
    }
  }

  &__image {
    flex: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    text-transform: uppercase;
    @include media(mobile) {
      position: absolute;
      top: 8.5rem;
    }
    
  }

  &__description {
    width: 24.286rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__logo {
    margin-top: 0.857rem;
    width: 3.143rem;
    height: 2.429rem;
    @include media(mobile) {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    @include media(mobile) {
      justify-content: start;
      
    }
  }

  &__link {
    height: 4.429rem;
    display: flex;
    margin-left: 10rem;
    @include media(mobile) {
      margin-left: 0;
      margin-top: 2.286rem;
    }

    span {
      width: 9.5rem;
      font-size: 0.786rem;
      line-height: 90%;

      &::before {
        width: 1.143rem;
        height: 1.214rem;
      }
    }
  }

  &__title {
    margin-top: 2.286rem;
    padding-right: 1.5rem;

    em {
      font-family: $italic;
    }
  }
  
}

