.our-services {
  margin-top: 5.857rem;
  padding-top: 5.714rem;
  padding-bottom: 8.571rem;
  background-repeat: no-repeat;
  @include media(mobile) {
      padding-top: 7.571rem; 
      padding-bottom: 5.714rem; 
      margin-top: 0;
  }

  &__wrapper {
    display: flex;

    @include media(mobile) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 1;
    padding-left: 1.143rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    @include media(mobile) {
      margin-bottom: 1.714rem;
    }
    em {
      font-family: $italic;
    }
  }

  &__description {
    padding-left: 18.5rem;
    padding-right: 4.786rem;
    line-height: 120%;
    @include media(mobile) {
    padding-left: 0rem;
    padding-right: 2rem;
    margin-bottom: 2.857rem;
   }
  }

  &__arrow {
    @include media(mobile) {
      display: none;
    }
    svg {
      width: 1.143rem;
      height: 1.143rem;
    }
  }

  &__right {
    flex: 1;
  }
}

.services-cards{
  padding-bottom: 8.571rem;

  &__wrapper{
    display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.143rem;
		row-gap: 4.4rem;
    @include media(mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

 
  &__last{
    height: 35rem;
    background-color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    @include media(mobile) {
       height: 17.429rem;
    }

    &-title{
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      font-family: $medium;
      width: 80%;
      @include media(mobile) {
        font-size: 1.286rem;
        width: 100%;
      }

      em{
        font-family: $italic;
      }
    }
  }
}

