.contacts{
  padding-top: 11.571rem;
  padding-bottom: 8.571rem;

  &__title{

    em{
      font-family: $italic;
    }
  }

  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14rem;
  }

  &__heading{
    // padding: 0 3.643rem 0 1.714rem;
  }

  &__grid{
    grid-column: 1 / span 1;
    padding: 0 3.643rem 0 1.714rem;
  }

  &__image{
    grid-column: 2 / span 1; 
    grid-row: 1 / span 2;
  }

  &__text{
    line-height: 120%;
    margin: 2.286rem 5rem 0 16rem;
   
  }

  &__red-arrow{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.143rem;

    &::before {
      content: '';
      background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
      height: 0.714rem;
      width: 0.571rem;
      flex-shrink: 0;
      margin-top: 0.1rem;
    }
  }

  &__phone,
  &__email,
  &__address{
    font-family: $medium;
    font-size: 2rem;

    
  }

}