.news {
	padding: 11rem 0 8.571rem 0;

	@include media(mobile) {
		padding: 7.5rem 0 12.5rem 0;
	}

	&:has(.pagination) {
		padding: 11rem 0 16.5rem 0;

		@include media(tablet) {
			padding: 11rem 0;
		}

		@include media(mobile) {
			padding: 7.5rem 0 12.5rem 0;
		}
	}

	&:has(.yoast-breadcrumbs) {
		.yoast-breadcrumbs {
			margin-top: 0.5rem;

			@include media(mobile) {
				margin: 0 0 0.9rem 0;
			}
		}
	}

	@include media(mobile) {
		padding: 8.68rem 0 5.61rem 0;
	}

	&__top {
		margin-bottom: 5.714rem;
		display: flex;

		@include media(mobile) {
			margin-bottom: 2.714rem;
			flex-direction: column;
		}

		h1 {
			@include media(mobile) {
				p {
					text-align: start;
				}
			}
		}
	}

	&__select {
		margin-right: 1.2rem;
		display: block;

		.select-items {
			min-width: 6.05rem;
			background-color: $bg;
		}
	}

	&__select-filters {
		.select-items {
			background-color: $bg;
		}
	}

	&__category {
		margin-bottom: 1.42rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;

		@include media(mobile) {
			margin-bottom: 0.8rem;
		}

		ul {
			display: flex;
			gap: 2.286rem;

			@include media(mobile) {
				display: none;
			}

			.active {
				border-bottom: 0.0171rem solid $black;
			}

			li {
				position: relative;
				font-size: 0.786rem;
				cursor: pointer;

				&:after {
					content: '';
					display: block;
					position: absolute;
					right: 0;
					width: 0;
					height: 0.071rem;
					background-color: $black;
					transition: width 0.5s;
				}

				&:hover:after {
					content: '';
					width: 100%;
					display: block;
					position: absolute;
					left: 0;
					height: 0.071rem;
					background-color: $black;
					transition: width 0.5s;
				}
			}
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		gap: 1.143rem;
		row-gap: 4.4rem;
		position: relative;

		@include media(mobile) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 3.3rem;
		}

		a:first-of-type {
			@include media(mobile) {
				margin: 0 -1.143rem;
				padding: 2.3rem 1.143rem 2.2rem 1.143rem;
				background-color: $white;
				border-radius: 1.429rem;

				.news-card__bottom p {
					display: block;

					@include media(mobile) {
						margin-top: 1.15rem;
						margin-bottom: 0.3rem;
					}
				}
			}

			@media screen and (min-width: 542px) {
				grid-area: 1 / 1 / 2 / 3;

				.news-card {
					margin: 0 -1.714rem 1.3rem -1.714rem;
					padding: 3.31rem 1.714rem;
					display: flex;
					background-color: $white;
					height: 42.714rem;
					border-radius: 1.429rem;

					@include media(tablet) {
						height: 36.7rem;
					}

					&__image {
						width: 49.4%;
						height: 100%;
						img {
							height: 100%;
						}
					}

					&__bottom {
						position: relative;
						width: 50%;
						padding: 0 10.5rem 0 4.214rem;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 0;

						@include media(tablet) {
							padding: 0 5rem 0 4rem;
						}

						p {
							display: block;
							@include media(tablet) {
								font-size: 1.143rem;
							}
							@include media(mobile) {
								font-size: 1rem;
							}
						}
					}

					&__categories {
						position: unset;
					}

					&__time {
						position: absolute;
						bottom: 0;
						right: 0;
					}

					&__title {
						margin: 1.5rem 0 1.143rem 0;
						font-size: 2rem;
						height: 6.1rem;
						font-family: $medium;
						font-weight: 550;
					}

					&__link {
						&::after {
							margin-bottom: 0.05rem;
						}
					}
				}
			}
		}
	}
}

.blog__nothing {
	position: absolute;
	top: 2rem;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: $medium;
	font-size: 1.857rem;
	text-transform: uppercase;

	@include media(mobile) {
		margin: 0 auto;
		width: 13.6rem;
		top: 1rem;
		right: 0;
		font-size: 1.157rem;
	}
}
