.projects {
	padding: 11.571rem 0 8.571rem 0;

	&__top {
		margin-bottom: 5.714rem;
		display: flex;
		gap: 12rem;
	}

	&__title {
	}

	&__category {
		margin-bottom: 1.714rem;
		display: flex;
		justify-content: space-between;

		ul {
			display: flex;
			gap: 1.714rem;
		}

		li {
			text-transform: uppercase;
			cursor: pointer;
		}
	}

	&__nothing {
		margin: 5rem auto 0 auto;
		font-family: $medium;
		font-size: 1.857rem;
		text-transform: uppercase;
	}

	&__selects {
		display: flex;
		justify-content: space-between;
	}

	#category-filter,
	#category-filter-right {
		.active,
		.active2 {
			border-bottom: 0.0171rem solid $black;
		}
		@include media(mobile) {
			display: none;
		}
	}

	&__button {
		display: flex;
		margin: 0 auto;
	}
}
