.projects {
	padding: 11.45rem 0 8.571rem 0;
	@include media(mobile) {
		padding: 7.5rem 0 8.571rem 0;
	}

	&:has(.yoast-breadcrumbs) {
		.yoast-breadcrumbs {
			@include media(mobile) {
				margin-bottom: 0.9rem;
			}
		}
	}

	&__top {
		margin-bottom: 5.714rem;
		display: flex;
		gap: 14rem;

		@include media(mobile) {
			margin-bottom: 2.714rem;
			flex-direction: column;
			gap: 0;
		}
	}

	&__category {
		margin-bottom: 1.714rem;
		display: flex;
		justify-content: space-between;
		font-size: 0.786rem;

		@include media(mobile) {
			margin-bottom: 0;
		}

		ul {
			display: flex;
			gap: 1.714rem;
		}

		li {
			position: relative;
			text-transform: uppercase;
			cursor: pointer;

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				width: 0;
				height: 0.071rem;
				background-color: $black;
				transition: width 0.5s;
			}

			&:hover:after {
				content: '';
				width: 100%;
				display: block;
				position: absolute;
				left: 0;
				height: 0.071rem;
				background-color: $black;
				transition: width 0.5s;
			}
		}
	}

	&__nothing {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: $medium;
		font-size: 1.857rem;
		text-transform: uppercase;
	}

	&__selects {
		display: flex;
		gap: 11.9rem;

		@include media(mobile) {
			margin: 0 1.143rem 0.9rem 0;
		}
	}

	#category-filter,
	#category-filter-right {
		.active,
		.active2 {
			border-bottom: 0.0171rem solid $black;
		}
		@include media(mobile) {
			display: none;
		}
	}

	&__button {
		display: flex;
		margin: 0 auto;
	}
}

.ajax-preloader {
	margin: 0 auto;
	width: 20rem;
	height: 20rem;
}
