.reviews {
	padding: 11.571rem 0 0 0;
	background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 1151 1187' fill='none' xmlns='http://www.w3.org/2000/svg' id='about-svg'%3E%3Cg opacity='0.15'%3E%3Cpath d='M370.51 211.163L271.701 1H748.492C935.131 1 1140.59 115.492 1140.59 393.097C1140.59 615.182 981.659 732.393 902.194 763.238L1150 1186.7H913.173L561.853 590.715H748.492C801.817 590.715 935.13 562.484 935.13 393.097C935.13 257.588 810.705 215.346 748.492 211.163H370.51Z' stroke='black' /%3E%3Cpath d='M414.356 779.778L20.213 15.9863L-587.703 1185.06H-336.075L20.213 474.707L171.635 779.778H414.356Z' stroke='black' /%3E%3Cpath d='M512.327 982.47H278.205L379.712 1190.4H622.02L512.327 982.47Z' stroke='black' /%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: -0.9rem 11.5rem;
	background-size: auto 87%;

	@include media(mobile) {
		padding: 7.3rem 0 0 0;
	}

	&__top {
		padding-bottom: 1.714rem;
		display: flex;
		justify-content: space-between;
		border-bottom: 0.071rem solid rgba(24, 24, 24, 0.15);
	}

	&__title {
		p {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		&-section {
			margin-bottom: 2.857rem;
			width: 40.786rem;
			display: flex;
			gap: 0.357rem;
			&::before {
				content: '';
				margin-top: 0.5rem;
				width: 2.571rem;
				height: 3.071rem;
				background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24528 11H0L4.75472 5.5L0 0H4.24528L9 5.5L4.24528 11Z' fill='%23F41B1B' /%3E%3C/svg%3E");
				background-repeat: no-repeat;
			}
			p {
				text-align: start;
			}
			p,
			em,
			strong {
				font-size: 4.286rem;

				@include media(mobile) {
					font-size: 2.857rem;
				}
			}
		}
	}

	&__box {
		margin-right: 4.214rem;
		width: 19.786rem;
		display: flex;
		flex-direction: column;
		gap: 2.429rem;

		ul {
			display: flex;

			li:not(:first-child) {
				margin-left: -1rem;
			}
		}
		img {
			width: 3.857rem;
			height: 3.857rem;
			border-radius: 50%;
			overflow: hidden;
			border: 0.071rem solid $bg;
		}
	}

	&__subtitle {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		&::before {
			content: '';
			width: 0.643rem;
			height: 0.786rem;
			background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24528 11H0L4.75472 5.5L0 0H4.24528L9 5.5L4.24528 11Z' fill='%23F41B1B' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
		}
	}

	&__slider {
		padding: 8.571rem 0;

		&:has(.swiper-pagination) {
			.swiper-pagination {
				display: none;
				@include media(mobile) {
					display: block;
				}
			}
			.swiper-button-prev,
			.swiper-button-next {
				top: 50%;
			}
		}

		&-item {
			margin: 0 auto;
			width: 57.571rem;
		}
		&-position {
			margin-top: 0.357rem;
			color: rgba(24, 24, 24, 0.3);
		}

		img {
			margin: 0 auto 0.857rem auto;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			overflow: hidden;
		}
		p {
			margin: 0 auto;
			width: fit-content;
			font-size: 0.786rem;
			text-transform: uppercase;
		}

		h3 {
			margin-bottom: 2.286rem;

			p,
			em,
			strong {
				font-size: 2rem;

				@include media(mobile) {
					font-size: 1.286rem;
				}
			}
		}
	}

	&__inner {
		padding: 8.571rem 1.714rem;
		border-radius: 1.429rem;
		background-color: $white;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.143rem;
		row-gap: 4.571rem;

		@include media(mobile) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 3.47rem;
		}

		h4 {
			margin-bottom: 1.143rem;
			font-family: $medium;
			font-size: 1.929rem;
			line-height: 1;
			font-weight: 550;
		}

		img {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
		}
	}

	&__line {
		margin-bottom: 1.571rem;
		display: flex;
		align-items: center;
		svg {
			width: 0.714rem;
			height: 0.857rem;
		}
		div {
			width: 100%;
			height: 0.071rem;
			background-color: rgba(24, 24, 24, 0.1);
		}
	}

	&__flex {
		margin-top: 2.857rem;
		display: flex;
		align-items: center;
		gap: 0.571rem;
		font-size: 0.786rem;
		line-height: 1;
		text-transform: uppercase;
	}

	&__position {
		margin-top: 0.357rem;
		opacity: 0.3;
	}
}
