.reviews {
	padding: 11.4rem 0 0 0;
	background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 1151 1187' fill='none' xmlns='http://www.w3.org/2000/svg' id='about-svg'%3E%3Cg opacity='0.15'%3E%3Cpath d='M370.51 211.163L271.701 1H748.492C935.131 1 1140.59 115.492 1140.59 393.097C1140.59 615.182 981.659 732.393 902.194 763.238L1150 1186.7H913.173L561.853 590.715H748.492C801.817 590.715 935.13 562.484 935.13 393.097C935.13 257.588 810.705 215.346 748.492 211.163H370.51Z' stroke='black' /%3E%3Cpath d='M414.356 779.778L20.213 15.9863L-587.703 1185.06H-336.075L20.213 474.707L171.635 779.778H414.356Z' stroke='black' /%3E%3Cpath d='M512.327 982.47H278.205L379.712 1190.4H622.02L512.327 982.47Z' stroke='black' /%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: -0.9rem 11.5rem;
	background-size: auto 85rem;

	@include media(mobile) {
		padding: 7.3rem 0 0 0;
		background-image: none;
		// background-position: -17.6rem 7.4rem;
		// background-size: auto 52.3rem;
	}

	&__top {
		padding-bottom: 2.1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 0.071rem solid rgba(24, 24, 24, 0.15);

		@include media(mobile) {
			padding-bottom: 2.85rem;
			flex-direction: column;
			align-items: flex-start;
			gap: 1.85rem;
		}
	}

	&__title {
		p {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		&-section {
			margin-bottom: 3rem;
			width: 40.786rem;
			display: flex;
			gap: 1.1rem;
			@include media(mobile) {
				margin-bottom: 2.8rem;
				width: 100%;
				gap: 0.3rem;
			}

			&::before {
				content: '';
				margin-top: 0.5rem;
				width: 3.571rem;
				height: 3.071rem;
				background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24528 11H0L4.75472 5.5L0 0H4.24528L9 5.5L4.24528 11Z' fill='%23F41B1B' /%3E%3C/svg%3E");
				background-repeat: no-repeat;
				@include media(mobile) {
					margin-top: 0.25rem;
					width: 2.857rem;
					height: 2.143rem;
				}
			}
			p {
				text-align: start;
			}
			p,
			em,
			strong {
				font-size: 4.286rem;

				@include media(mobile) {
					font-size: 2.73rem;
				}
			}
		}
	}

	&__box {
		margin-right: 4.214rem;
		width: 19.786rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		@include media(mobile) {
			margin-right: 0;
			width: 100%;
			gap: 1.6rem;
		}

		ul {
			display: flex;

			li:not(:first-child) {
				margin-left: -1.35rem;
			}
		}
		img {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			overflow: hidden;
			border: 0.071rem solid $bg;
		}
	}

	&__subtitle {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		&::before {
			content: '';
			width: 0.643rem;
			height: 0.786rem;
			background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24528 11H0L4.75472 5.5L0 0H4.24528L9 5.5L4.24528 11Z' fill='%23F41B1B' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
		}
		@include media(tablet) {
			font-size: 1.143rem;
		}
		@include media(mobile) {
			font-size: 1rem;
		}
	}

	&__slider {
		padding: 8.4rem 0;
		@include media(mobile) {
			padding: 5.6rem 0 10rem 0;
		}

		&:has(.swiper-pagination) {
			.swiper-pagination {
				display: none;
				@include media(mobile) {
					display: block;
				}
			}
			.swiper-button-prev,
			.swiper-button-next {
				top: 50%;
				@include media(mobile) {
					top: unset;
					bottom: 4.6rem;
				}
			}
			.swiper-button-prev {
				left: 0;
			}
			.swiper-button-next {
				right: 0;
			}
			.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
				@include media(mobile) {
					top: unset;
					bottom: 6.215rem;
				}
			}
		}

		&-item {
			margin: 0 auto;
			width: 57.571rem;
			@include media(mobile) {
				width: 100%;
			}
		}

		img {
			margin: 0 auto 0.75rem auto;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			overflow: hidden;
		}
		p {
			margin: 0 auto;
			width: fit-content;
			font-size: 0.786rem;
			text-transform: uppercase;
		}

		h3 {
			margin-bottom: 2.4rem;
			@include media(mobile) {
				margin-bottom: 1.8rem;
			}

			p,
			em,
			strong {
				font-size: 2rem;

				@include media(mobile) {
					font-size: 1.286rem;
				}
			}
		}

		&-position {
			color: rgba(24, 24, 24, 0.3);
		}
	}

	&__wrapper {
		min-height: 53rem;
		padding: 8.2rem 1.714rem;
		border-radius: 1.429rem;
		background-color: $white;
		transition: $transition;

		@include media(tablet) {
			min-height: 55rem;
			padding: 5.8rem 1.714rem;
		}
		@include media(mobile) {
			min-height: 42rem;
			padding: 5.5rem 1.143rem;
		}

		&:has(.pagination) {
			padding: 8.2rem 1.714rem 16.5rem 1.714rem;
			@include media(tablet) {
				padding: 5.8rem 1.714rem 12.5rem 1.714rem;
			}
			@include media(mobile) {
				padding: 5.5rem 1.143rem 10.3rem 1.143rem;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.143rem;
		row-gap: 4.5rem;

		@include media(mobile) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 2.3rem;
		}

		h4 {
			margin-bottom: 1.143rem;
			font-family: $medium;
			font-size: 1.929rem;
			line-height: 1;
			font-weight: 550;

			@include media(mobile) {
				font-size: 1.571rem;
			}
		}

		p {
			@include media(tablet) {
				font-size: 1.143rem;
			}
			@include media(mobile) {
				font-size: 1rem;
			}
		}

		img {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
		}
	}

	&__line {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
		@include media(mobile) {
			margin-bottom: 1.05rem;
		}

		svg {
			width: 0.714rem;
			height: 0.857rem;
		}
		div {
			width: 100%;
			height: 0.071rem;
			background-color: rgba(24, 24, 24, 0.1);
		}
	}

	&__flex {
		margin-top: 2.857rem;
		display: flex;
		align-items: center;
		gap: 0.571rem;
		font-size: 0.786rem;
		line-height: 1;
		text-transform: uppercase;
		@include media(mobile) {
			margin-top: 2.5rem;
		}
	}

	&__position {
		margin-top: 0.2rem;
		opacity: 0.3;
	}

	&__nothing {
		margin: 5rem auto 0 auto;
		width: fit-content;
		font-size: 1.786rem;
		line-height: 1;
		text-transform: uppercase;
		@include media(mobile) {
			font-size: 1.586rem;
		}
	}
}

.page-template-reviews-page {
	.footer {
		@include media(mobile) {
			padding-top: 2rem;
		}
	}
}
