.service-hero{
    padding-top: 11.571rem;
  
  &__heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.214rem;
  }

  &__title{
    width: 50%;
    em{
      font-family: $italic;
    }
  }

  &__text{
    position: relative;
    padding-top: 2rem;
    display: flex;
    align-items: flex-end;
    width: 19.786rem;
    justify-content: flex-end;
    line-height: 120%;
    margin-right: 3.429rem;
    &::before{
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        height: 0.786rem;
        width: 0.643rem;
        bottom: 2.8rem;
       
    }
  }

  &__image{
    overflow: hidden;
    max-height: 40.071rem;
  }
 
  
  &__string {
    width: 100%;
    white-space: nowrap;
    background-color: $white;
   
    &-inner{
       display: flex;
      //  animation: marquee 20s linear infinite;
      //  overflow: hidden;
    }
    &-text{
        font-size: 1.286rem;
        width: 100%;
        padding: 0rem 1.071rem;
        line-height: 100%;
        display: flex;
        align-items: center;
               

        svg{
          width: 2.714rem;
          height: 3.214rem;
        }
      }
    }
  

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}
    
}

.service-information{
  padding-top: 8.571rem;
  padding-bottom: 6.857rem;

  &__heading{
    display: flex;
    position: relative;
    margin-bottom: 2.857rem;
  }
  &__title{
    width: 70%;
    em{
      font-family: $italic;
    }
  }

  &__top-image,
  &__bottom-image{
    position: absolute;
    height: 15.571rem;
    width: 15.571rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;


  }

  &__top-image{
      bottom: 57px;
      right: 25%;
      z-index: -1;

  }

  &__bottom-image{
    top: 50%;
    transform: translate(-32%, 67%);
    left: 50%;
  }

  &__content{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: -1.714rem;
    
  }

  &__text{
   width: 50%;
  }

  &__question{
    font-size: 1.929rem;
    margin-bottom: 18.429rem;
    font-family: $medium;
    width: 50%;
  }

  &__answers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		row-gap: 4rem;
    margin-bottom: 17rem;
    line-height: 120%;
    font-size: 1.429rem;
   

    li{
      position: relative;
      padding-left: 0.786rem;
      line-height: 120%;
      padding-top: 0.2rem;
      &::before{
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
          position: absolute;
          left: 0;
          height: 0.786rem;
          width: 0.643rem;
          bottom: 4.6rem;
      }
    }
  }

  &__img{
    width: 47.786rem;
    img{
      height: 100%;
    }
  }
}

.service-banner{
  padding-top: 6.857rem;
  position: relative;
  
    &__bg{
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 68rem;
      top: 8%;
      left: 0;
      z-index: -1;
      mix-blend-mode: soft-light;
      &::before{
        content: "";
        background: linear-gradient(360deg, #ededed 0%, #ededed 100%);
        z-index: 1;
        position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 30%;
          opacity: 0.4;
      }
  }

  &__wrapper{
    padding-bottom: 21.071rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo{
   
      width: 3.143rem;
      height: 2.429rem;
  }

  &__string{
    display: flex;
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    cursor: default;
    margin-bottom: 21.071rem;
    }

  &__title {
    animation: 8s linear infinite marquee;
    font-style: normal;
    font-family: $medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    text-transform: uppercase;

    em{
      font-family: $italic;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateZ(0);
      display: block;
    }
  
    100% {
      transform: translate3d(-100%, 0, 0);
      display: none;
    }
  }

  &__main{
    width: 53.786rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2.286rem;
    
  }

  &__description{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $medium;
    line-height: 100%;

    em{
      font-family: $italic;
    }
  }

}

.service-advantages{


  &__wrapper{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  &__slider{
    position: absolute;
    background-color: $red;
    color: $white;
    width: 55.071rem;
    padding: 2.857rem 1.714rem 2.857rem 2.857rem;
  }



  &__heading{
    font-size: 2rem;
    font-family: $medium;
    text-transform: uppercase;
    em{
      font-family: $italic;
    }
  }
///////////////////////////////////////////////////////////////////////////////////
  &__arrow--prev {
		&::before {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='61' fill='none'%3E%3Ccircle cx='30.5' cy='30.5' r='30' stroke='%23fff'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='m27.47 23.708-7.842 7.842m0 0 7.749 7.75m-7.75-7.75 21.04-.126'/%3E%3C/svg%3E");
			display: block;
			background-repeat: no-repeat;
			background-size: contain;
			width: 4.357rem;
			height: 4.357rem;
			background-position: center;
			cursor: pointer;
			transition: $transition;
		}

		&:hover::before {
			transform: scale(1.1);
		}
	}

	&__arrow--next {
		&::before {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='61' fill='none'%3E%3Ccircle cx='30.5' cy='30.5' r='30' stroke='%23fff' transform='rotate(-180 30.5 30.5)'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='m33.53 37.292 7.842-7.842m0 0-7.749-7.75m7.75 7.75-21.04.126'/%3E%3C/svg%3E");
			display: block;
			background-repeat: no-repeat;
			background-size: contain;
			width: 4.357rem;
			height: 4.357rem;
			background-position: center;
			cursor: pointer;
			transition: $transition;
		}

		&:hover::before {
			transform: scale(1.1);
		}
	}

	&__navigation {
		display: flex;
		gap: 0.75rem;
		align-items: center;
		position: absolute;
		bottom: 2.8rem;
		left: 40.2rem;
		z-index: 8;
	}

}

.advantages-pagination {
	width: fit-content;
	height: fit-content;
	position: absolute;
	top: 23.2rem;
	left: 1.6rem;
	z-index: 1;
	color: $white;
}

.swiper-pagination-current {
	margin-right: 3rem;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 1.02rem;
		width: 2rem;
		height: 0.071rem;
		background-color: $white;
	}
}






