.project {
	padding: 11.571rem 0 8.571rem 0;

	&__top {
		margin-bottom: 1.714rem;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		h1 {
			max-width: 70rem;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		a {
			max-width: 20rem;
		}
		p {
			opacity: 0.3;
		}
	}

	&__image {
		margin: 0 -1.714rem 13.571rem -1.714rem;
		height: 52rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__img--error {
		width: 50rem !important;
		height: 50rem !important;
		object-fit: contain !important;
	}

	&__box {
		margin-bottom: 4.571rem;
		position: relative;
		display: flex;
		justify-content: space-between;

		ul {
			width: 40.786rem;
			position: absolute;
			right: 0;
			top: -30rem;
			padding: 2.857rem;
			display: flex;
			flex-direction: column;
			gap: 1.714rem;
			background-color: $white;

			li:first-of-type {
				h3 {
					font-size: 4.286rem;
				}
			}

			li:not(:last-child) {
				border-bottom: 0.071rem solid rgba(24, 24, 24, 0.05);
			}
		}
	}

	&__info {
		p,
		em {
			font-size: 4.286rem;
		}
	}

	&__parameter {
		margin-bottom: 0.571rem;
		font-family: $italic;
		font-size: 2rem;
		font-weight: 300;
		line-height: 1;
		text-transform: uppercase;
	}

	&__category {
		margin-bottom: 1.714rem;
		font-family: $medium;
		font-weight: 550;
		line-height: 1;
		color: $red;
	}
}
