.single-news {
	padding: 11.571rem 0 0 0;

	@include media(mobile) {
		padding: 7.3rem 0 0 0;
	}

	&__container {
		position: relative;
		background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 1151 1187' fill='none' xmlns='http://www.w3.org/2000/svg' id='about-svg'%3E%3Cg opacity='0.15'%3E%3Cpath d='M370.51 211.163L271.701 1H748.492C935.131 1 1140.59 115.492 1140.59 393.097C1140.59 615.182 981.659 732.393 902.194 763.238L1150 1186.7H913.173L561.853 590.715H748.492C801.817 590.715 935.13 562.484 935.13 393.097C935.13 257.588 810.705 215.346 748.492 211.163H370.51Z' stroke='black' /%3E%3Cpath d='M414.356 779.778L20.213 15.9863L-587.703 1185.06H-336.075L20.213 474.707L171.635 779.778H414.356Z' stroke='black' /%3E%3Cpath d='M512.327 982.47H278.205L379.712 1190.4H622.02L512.327 982.47Z' stroke='black' /%3E%3C/g%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: -31.5rem 0;
		background-size: auto 118rem;

		@include media(mobile) {
			background-position: -18rem 0;
			background-size: auto 53rem;
		}

		&:has(.news-slider) {
			.news-slider {
				padding-bottom: 9rem;
			}
		}
	}

	&__top {
		margin-bottom: 1.9rem;
		display: flex;
		justify-content: space-between;
		gap: 7.5rem;

		@include media(mobile) {
			margin-bottom: 3.07rem;
			flex-direction: column;
			gap: 1.143rem;
		}
	}

	&__title {
		max-width: 87%;
		display: flex;

		@include media(mobile) {
			max-width: 100%;
		}

		p,
		em,
		strong {
			text-align: start;
			font-size: 4.286rem;

			@include media(mobile) {
				font-size: 2.857rem;
			}
		}
	}

	&__counter {
		margin: 0.3rem 0 0 1.143rem;
		display: flex;
		gap: 0.286rem;

		@include media(mobile) {
			margin: 0 0 1rem 0;
		}

		&::after {
			counter-increment: section;
			content: '0.0' counter(section);
		}
		&::before {
			content: '';
			margin-top: 0.1rem;
			width: 0.643rem;
			height: 0.786rem;
			background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24528 11H0L4.75472 5.5L0 0H4.24528L9 5.5L4.24528 11Z' fill='%23F41B1B' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
		}
	}

	&__time {
		align-self: flex-end;
		opacity: 0.4;

		@include media(mobile) {
			align-self: start;
		}
	}

	&__image {
		height: 52rem;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		@include media(mobile) {
			margin: 0 -1.143rem;
			height: 14rem;
		}

		img {
			width: 102.857rem;
			height: 52rem;
			@include media(mobile) {
				width: 26.786rem;
				height: 14rem;
			}
		}
	}

	&__img--error {
		width: 40rem !important;
		height: 40rem !important;
		object-fit: contain !important;

		@include media(mobile) {
			width: 12rem !important;
			height: 12rem !important;
		}
	}

	&__content {
		padding: 5.714rem 16.786rem 6.15rem 16.786rem;
		@include media(mobile) {
			padding: 4.571rem 0 4.1rem 0;
		}

		img {
			margin: 5.714rem 0;
			height: 35.143rem;

			@include media(mobile) {
				margin: 4.571rem 0;
				height: 12.857rem;
			}
		}

		p {
			margin-bottom: 2.05rem;
			font-size: 1.429rem;

			@include media(mobile) {
				margin-bottom: 1.6rem;
				font-size: 1rem;
			}
		}

		strong {
			font-family: $medium;
			font-size: 1.929rem;
			line-height: 1;
			font-weight: 550;

			@include media(mobile) {
				font-size: 1.571rem;
			}
		}

		blockquote {
			margin: 5.714rem 0;
			@include media(mobile) {
				margin: 4.571rem 0;
			}

			&::before {
				content: '';
				margin-bottom: 3.4rem;
				display: inline-block;
				background-repeat: no-repeat;
				background-size: cover;
				width: 1.857rem;
				height: 1.643rem;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 23' fill='none'%3E%3Cpath fill='%23181818' d='M.543 22.043v-9.471c0-3.234.95-5.955 2.849-8.162C5.292 2.151 7.576.765 10.245.252v4.389c-3.131 1.18-4.697 3.696-4.697 7.546h4.697v9.856H.543Zm15.169 0v-9.471c0-3.234.95-5.955 2.849-8.162 1.9-2.259 4.184-3.645 6.853-4.158v4.389c-3.131 1.18-4.697 3.696-4.697 7.546h4.697v9.856h-9.702Z'/%3E%3C/svg%3E");
			}

			strong {
				font-family: $medium;
				font-size: 1.929rem;
				line-height: 1;
				font-weight: 550;
				@include media(mobile) {
					font-size: 1.571rem;
				}
			}
			p {
				font-size: 0.786rem;
				line-height: 1;
				@include media(mobile) {
					font-size: 1rem;
				}
			}
			em {
				margin-bottom: 5.714rem;
				opacity: 0.3;
			}
		}
	}

	&__box {
		margin-bottom: 5.9rem;
		position: relative;
		display: flex;
		justify-content: space-between;

		@include media(mobile) {
			margin-bottom: 2.4rem;
		}
	}

	&__button {
		align-self: center;

		@include media(mobile) {
			margin: 0 auto;
			position: absolute;
			bottom: -33rem;
			left: 0;
			right: 0;
		}
	}
}

.home:has(.single-news__box) {
	.single-news__title {
		@include media(mobile) {
			flex-direction: column-reverse;
		}
	}
	.swiper {
		z-index: 0 !important;
	}
}
