.button {
	padding: 1rem 2.071rem 1rem 1rem;
	font-size: 0.786rem;
	line-height: 1;
	text-transform: uppercase;
	color: $white;
	background: $red;
	transition: $transition;
	white-space: nowrap;
	border-radius: 5.714rem;
	width: fit-content;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.714rem;
		transition: $transition;

		&:after {
			content: '';
			width: 0.357rem;
			height: 0.357rem;
			background: $white;
			border-radius: 50%;
			transition: $transition;
		}

		&:before {
			content: '';
			width: 0.357rem;
			height: 0.357rem;
			background: $white;
			border-radius: 50%;
			opacity: 0;
			transition: $transition;
		}
	}

	&:hover,
	&:focus {
		outline: none !important;

		.button__wrapper {
			transform: translateX(12%);
			&::before {
				opacity: 1;
			}
			&::after {
				opacity: 0;
			}
		}
	}
}

.link {
	cursor: pointer;
	width: fit-content;

	span {
		display: block;
		font-size: 0.786rem;
		line-height: 1;
		text-transform: uppercase;
		// width: 3.571rem;
		padding-bottom: 2.1rem;
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath fill='%23181818' fill-rule='evenodd' d='M4.664 5.29a.625.625 0 1 1 0-1.25h6.667c.345 0 .625.279.625.624v6.667a.625.625 0 1 1-1.25 0V6.173l-5.6 5.6a.625.625 0 0 1-.884-.884l5.6-5.6H4.664Z' clip-rule='evenodd'/%3E%3C/svg%3E");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
			width: 1.143rem;
			height: 1.143rem;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: $transition;
		}

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 0.071rem;
			background: $black;
			transition: $transition;
		}
	}

	&:hover {
		span {
			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: translateX(-100%);
			}
		}
	}
}
