.swiper {
	padding-bottom: 1rem;
}

.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
	width: 91%;
	height: 0.071rem;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%, -50%);
	top: initial;
	@include media(mobile) {
		width: 75%;
		transform: translate(-52%, -50%);
		top: 29.7rem;
	}
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: $black;
}

.swiper-button-next,
.swiper-button-prev {
	top: initial;
	color: $black;
	transition: $transition;

	&::after {
		font-size: 0.5rem;
		color: $black;
	}
}

.swiper-button-next {
	&:hover {
		transform: translateX(15%);
	}
}
.swiper-button-prev {
	&:hover {
		transform: translateX(-15%);
	}
}
