.swiper {
	padding-bottom: 1rem;
}

.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
	width: 91%;
	height: 0.071rem;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%, -50%);
	top: initial;
	@include media(tablet) {
		width: 89%;
	}
	@include media(mobile) {
		width: 75%;
		transform: translate(-52%, -50%);
		top: 29.7rem;
	}
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: $black;
}

.swiper-button-next,
.swiper-button-prev {
	top: initial;
	color: $black;
	transition: $transition;

	&::after {
		font-size: 0.9rem;
		color: $black;
		font-weight: 800;
		@include media(mobile) {
			font-size: 0.7rem;
		}
	}
}

.swiper-button-next {
	&:hover {
		transform: translateX(15%);
	}
}
.swiper-button-prev {
	&:hover {
		transform: translateX(-15%);
	}
}

//Ajax pagination
.news,
.reviews {
	.pagination {
		display: flex;
		position: absolute;
		bottom: -7.7rem;
		left: 50%;
		gap: 0.45rem;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		@include media(mobile) {
			bottom: -6.8rem;
		}

		span {
			padding-top: 0.1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.643rem;
			height: 1.643rem;
			border-radius: 50%;
			cursor: pointer;
			border: 0.071rem solid transparent;
			transition: $transition;

			&:hover {
				border: 0.071rem solid $black;
			}

			&.pagination_active {
				background-color: $black;
				border-radius: 50%;
				border: 0.071rem solid $black;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				overflow: hidden;
				color: $white;
			}
		}
	}
}

.reviews {
	.pagination {
		bottom: 8.5rem;
		@include media(tablet) {
			bottom: 6.5rem;
		}
		@include media(mobile) {
			bottom: 5.7rem;
		}
	}
}
