.main__title {
	font-family: $medium;
	font-size: 6.429rem;
	line-height: 0.988;
	font-weight: 550;
	text-transform: uppercase;

	em {
		font-family: $italic;
		font-weight: 300;
	}

	@include media(tablet) {
		font-size: 4.3rem;
	}

	@include media(mobile) {
		font-size: 2.857rem;
	}

	&--italic {
		font-family: $italic;
		font-weight: 300;
	}

	&--sm {
		font-size: 4.286rem;
		@include media(tablet) {
			font-size: 3.5rem;
		}
		@include media(mobile) {
			font-size: 2.857rem;
		}
	}
}

.title {
	width: fit-content;
	text-transform: uppercase;
	p {
		font-family: $medium;
		font-size: 6.429rem;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		font-weight: 550;

		@include media(tablet) {
			font-size: 4.3rem;
		}

		@include media(mobile) {
			font-size: 2.857rem;
		}
	}

	em {
		font-size: 6.429rem;
		text-transform: uppercase;
		font-family: $italic;
		font-weight: 300;
		line-height: 1;

		@include media(tablet) {
			font-size: 4.3rem;
		}

		@include media(mobile) {
			font-size: 2.857rem;
		}
	}

	strong {
		font-size: 6.429rem;
		font-weight: 550;
		text-transform: uppercase;
		font-family: $medium;
		line-height: 1;

		@include media(tablet) {
			font-size: 4.3rem;
		}

		@include media(mobile) {
			font-size: 2.857rem;
		}
	}
}

.anim-title {
	transform: translateY(4.286rem) rotate(2deg);
	opacity: 0;
	transition: all 1s ease-in-out;

	&._active {
		transform: translateX(0);
		opacity: 1;
	}
}
.anim-card {
	transform: scale(0.85);
	opacity: 0;
	transition: all 1s ease-in-out;

	&._active {
		transform: scale(1);
		opacity: 1;
	}
}