.main__title {
	font-family: $medium;
	font-size: 6.429rem;
	line-height: 0.988;
	font-weight: 550;
	text-transform: uppercase;

	&--italic {
		font-family: $italic;
		font-weight: 300;
	}

	&--sm {
		font-size: 4.286rem;
	}

	@include media(mobile) {
		// margin-bottom: 1rem;
	}
}

.title {
	width: fit-content;

	p {
		display: flex;
		align-items: center;
		gap: 1.2rem;
		font-size: 4.286rem;
		text-transform: uppercase;
		line-height: 1;
	}

	em {
		font-size: 4.286rem;
		text-transform: uppercase;
		font-family: $italic;
		font-weight: 300;
	}

	strong {
		font-size: 4.286rem;
		font-weight: 550;
		text-transform: uppercase;
		font-family: $medium;
	}
}
