// Fonts
$regular: 'HelveticaNeueCyr-Roman', 'sans-serif';
$medium: 'HelveticaNeueCyr-Medium', 'sans-serif';
$italic: 'HelveticaNeueCyr-LightItalic', 'sans-serif';
$manuscript: 'Buongiorno-Rastellino', 'serif';

//Colors
$white: #ffffff;
$light: #f9f9f9;
$black: #181818;
$bg: #ededed;
$red: #f41b1b;
$img_not_found: #dddddd;

//Transition
$transition: all 0.3s ease-in-out;
