.about {
	padding-bottom: 9rem;
	background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 1151 1187' fill='none' xmlns='http://www.w3.org/2000/svg' id='about-svg'%3E%3Cg opacity='0.15'%3E%3Cpath d='M370.51 211.163L271.701 1H748.492C935.131 1 1140.59 115.492 1140.59 393.097C1140.59 615.182 981.659 732.393 902.194 763.238L1150 1186.7H913.173L561.853 590.715H748.492C801.817 590.715 935.13 562.484 935.13 393.097C935.13 257.588 810.705 215.346 748.492 211.163H370.51Z' stroke='black' /%3E%3Cpath d='M414.356 779.778L20.213 15.9863L-587.703 1185.06H-336.075L20.213 474.707L171.635 779.778H414.356Z' stroke='black' /%3E%3Cpath d='M512.327 982.47H278.205L379.712 1190.4H622.02L512.327 982.47Z' stroke='black' /%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;

	@include media(mobile) {
		padding-bottom: 5.8rem;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 375 731' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.08'%3E%3Cpath d='M-15.3448 129.889L-75.9423 1H216.465C330.927 1 456.932 71.216 456.932 241.466C456.932 377.667 359.463 449.55 310.728 468.467L462.703 728.171H317.461L102.003 362.662H216.465C249.169 362.662 330.927 345.348 330.927 241.466C330.927 158.361 254.619 132.455 216.465 129.889H-15.3448Z' stroke='%23181818'/%3E%3Cpath d='M11.5455 478.611L-230.176 10.1909L-603 727.161H-448.681L-230.176 291.516L-137.311 478.611H11.5455Z' stroke='%23181818'/%3E%3Cpath d='M71.6294 602.918H-71.9537L-9.70085 730.436H138.902L71.6294 602.918Z' stroke='%23181818'/%3E%3C/g%3E%3C/svg%3E%0A");
		background-position: 0 0;
		background-size: auto 52.4rem;
	}

	&__title {
		@include media(tablet) {
			width: 85%;
		}

		@include media(mobile) {
			width: 100%;
			margin-top: 1rem;
		}
		p {
			text-align: start;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		gap: 1.8rem;

		@include media(mobile) {
			flex-direction: column-reverse;
			gap: 1.4rem;
		}
	}

	&--hide {
		display: none;
		@include media(mobile) {
			display: flex;
		}
	}

	&--show {
		display: block;
		@include media(mobile) {
			display: none;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 1.143rem;

		@include media(mobile) {
			flex-direction: column;
		}

		&-video {
			width: 44.929rem;
			height: 33.571rem;
			display: block;
			position: relative;
			cursor: pointer;

			@include media(mobile) {
				width: 100%;
				height: 18.286rem;
			}

			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-inner {
			display: flex;
			justify-content: space-between;
			gap: 45.071rem;

			@include media(mobile) {
				gap: 0;
			}

			svg {
				width: 5.357rem;
				height: 4.143rem;
			}
		}

		&-counter {
			display: flex;
			gap: 0.286rem;
			&::after {
				counter-increment: section;
				content: '0.0' counter(section);
			}
			&::before {
				content: '';
				margin-top: 0.17rem;
				width: 0.643rem;
				height: 0.786rem;
				background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24528 11H0L4.75472 5.5L0 0H4.24528L9 5.5L4.24528 11Z' fill='%23F41B1B' /%3E%3C/svg%3E");
				background-repeat: no-repeat;
			}
		}

		&-desc {
			margin-left: 2.6rem;
			max-width: 22rem;
			align-self: center;

			@include media(mobile) {
				margin-left: 0;
				max-width: 100%;
			}
		}

		&-link {
			align-self: center;

			@include media(mobile) {
				width: 4.5rem !important;
				margin-top: 2.4rem;
				align-self: flex-start;
				span {
					font-size: 0.89rem;
				}
			}
		}
	}

	&__bottom {
		margin-top: 10.4rem;
		display: flex;
		justify-content: space-between;

		@include media(mobile) {
			margin-top: 3.4rem;
			flex-direction: column;
			gap: 2.7rem;
		}

		&-item {
			display: flex;
			flex-direction: column;
		}

		&-number {
			margin-bottom: 0.5rem;
			font-size: 6.429rem;
			font-family: $italic;
			font-weight: 300;
			line-height: 1;
			color: $red;

			@include media(tablet) {
				font-size: 5.2rem;
			}

			@include media(mobile) {
				margin-bottom: 0.75rem;
				font-size: 4.286rem;
			}
		}

		&-title {
			font-size: 0.786rem;
			line-height: 1.09;
			margin-bottom: 1.1rem;
			text-transform: uppercase;

			@include media(mobile) {
				font-size: 1rem;
				line-height: 0.85;
			}
		}

		&-text {
			opacity: 0.5;
			max-width: 15rem;
		}
	}
}

.video__play {
	display: flex;
	gap: 0.357rem;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $white;
	font-size: 0.786rem;
	line-height: 1;
	text-transform: uppercase;
	cursor: pointer;

	svg {
		margin-bottom: 0.25rem;
		width: 0.857rem;
		height: 1.071rem;
		@include media(mobile) {
			margin-bottom: 0.1rem;
		}
	}
}

// #about-svg {
// 	path {
// 		stroke-dasharray: 4300;
// 		stroke-dashoffset: 4300;
// 	}

// 	&.animate {
// 		path {
// 			animation: draw 5s ease forwards;
// 		}
// 	}
// }

// @keyframes draw {
// 	to {
// 		stroke-dashoffset: 0;
// 	}
// }
