.contact {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1.25rem;

	&__wrapper {
		margin-bottom: 8.3rem;
		padding: 2.7rem 0 2.9rem 0;
		height: 76.05rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media(mobile) {
			margin-bottom: 5.65rem;
			height: 58rem;
		}

		&:has(.lang) {
			#cursor.arrow::after {
				background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 118 118' fill='none'%3E%3Ccircle cx='59' cy='59' r='59' fill='%23F41B1B'/%3E%3Cpath fill='%23fff' d='M32.502 39.041c-.088.99-.433 1.764-1.034 2.321-.594.55-1.379.825-2.354.825-1.115 0-1.998-.367-2.651-1.1-.653-.74-.979-1.738-.979-2.992 0-1.173.326-2.149.979-2.926.66-.785 1.57-1.177 2.728-1.177.829 0 1.558.224 2.189.671.63.447.983 1.067 1.056 1.859h-1.034c-.117-.513-.374-.913-.77-1.199-.396-.293-.884-.44-1.463-.44-.873 0-1.533.308-1.98.924-.44.616-.66 1.375-.66 2.277 0 .997.235 1.782.704 2.354.47.572 1.111.858 1.925.858.667 0 1.199-.19 1.595-.572.396-.389.634-.95.715-1.683h1.034Zm4.605-5.06c1.188 0 2.112.374 2.773 1.122.66.74.99 1.712.99 2.915 0 1.21-.327 2.207-.98 2.992-.652.785-1.576 1.177-2.772 1.177-.608 0-1.154-.11-1.639-.33a3.15 3.15 0 0 1-1.188-.913 4.334 4.334 0 0 1-.692-1.331 5.455 5.455 0 0 1-.231-1.617c0-1.225.337-2.2 1.011-2.926.683-.726 1.592-1.089 2.729-1.089Zm0 .902c-.872 0-1.543.308-2.013.924-.462.609-.693 1.364-.693 2.266 0 .983.246 1.767.737 2.354.5.58 1.163.869 1.992.869.82 0 1.477-.293 1.968-.88.492-.587.738-1.368.738-2.343 0-.968-.25-1.742-.748-2.321-.492-.58-1.152-.869-1.98-.869Zm5.014-.715h1.133l4.136 6.358v-6.358h1V42h-1.165l-4.114-6.281V42h-.99v-7.832Zm13.416 0v.902h-2.629V42h-1.034v-6.93h-2.629v-.902h6.292Zm3.162 0L61.757 42h-1.155l-.869-2.398h-3.289L55.553 42h-1.1l3.08-7.832h1.166Zm.726 4.609-1.331-3.619-1.353 3.619h2.684Zm9.75.264c-.087.99-.432 1.764-1.033 2.321-.594.55-1.379.825-2.354.825-1.115 0-1.998-.367-2.651-1.1-.653-.74-.98-1.738-.98-2.992 0-1.173.327-2.149.98-2.926.66-.785 1.57-1.177 2.728-1.177.829 0 1.558.224 2.189.671.63.447.983 1.067 1.056 1.859h-1.034c-.117-.513-.374-.913-.77-1.199-.396-.293-.884-.44-1.463-.44-.873 0-1.533.308-1.98.924-.44.616-.66 1.375-.66 2.277 0 .997.234 1.782.704 2.354.47.572 1.11.858 1.925.858.667 0 1.199-.19 1.595-.572.396-.389.634-.95.715-1.683h1.034Zm6.74-4.873v.902h-2.629V42h-1.034v-6.93h-2.629v-.902h6.292Zm-50.101 11h1.045v4.939c0 .763.165 1.32.495 1.672.33.352.869.528 1.617.528.77 0 1.313-.18 1.628-.539.323-.36.484-.913.484-1.661v-4.939h1.045v4.664c0 1.144-.238 1.987-.715 2.53-.477.535-1.29.803-2.442.803-1.115 0-1.921-.26-2.42-.781-.491-.528-.737-1.342-.737-2.442v-4.774Zm13.538 2.299H38.35c-.11-1.063-.758-1.595-1.947-1.595-.564 0-1 .114-1.309.341-.308.227-.462.546-.462.957 0 .147.023.275.067.385.044.11.117.209.22.297.11.08.212.15.308.209.095.059.245.117.45.176.206.059.37.103.495.132.125.022.32.062.584.121.322.066.59.128.803.187.212.051.465.14.759.264.293.125.524.264.693.418.175.147.326.345.45.594.133.25.199.532.199.847 0 .55-.154 1.012-.462 1.386a2.458 2.458 0 0 1-1.123.77c-.44.147-.927.22-1.463.22-.982 0-1.77-.231-2.364-.693-.587-.47-.88-1.159-.88-2.068h1c.023.667.246 1.155.671 1.463.426.3.98.451 1.661.451.536 0 .994-.11 1.375-.33.382-.227.572-.594.572-1.1 0-.235-.05-.433-.154-.594a1.078 1.078 0 0 0-.483-.407 4.13 4.13 0 0 0-.66-.264c-.22-.066-.51-.14-.87-.22a.702.702 0 0 1-.11-.022c-.806-.183-1.334-.33-1.584-.44-.762-.33-1.144-.898-1.144-1.705 0-.748.275-1.305.825-1.672.558-.374 1.229-.561 2.014-.561.858 0 1.543.205 2.056.616.514.41.785 1.023.815 1.837Z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M29.664 74.29a.625.625 0 0 1 0-1.25h6.667c.345 0 .625.279.625.624v6.667a.625.625 0 1 1-1.25 0v-5.158l-5.6 5.6a.625.625 0 0 1-.884-.884l5.6-5.6h-5.158Z' clip-rule='evenodd'/%3E%3C/svg%3E");
			}
		}
	}

	&__top {
		margin-bottom: 11.25rem;
		display: flex;
		gap: 29.7rem;

		@include media(mobile) {
			margin-bottom: 2.857rem;
			gap: 1.143rem;
			flex-direction: column-reverse;
		}
	}

	&__counter {
		display: flex;
		gap: 0.286rem;
		color: $white;

		&::after {
			counter-increment: section;
			content: '0.0' counter(section);
		}
		&::before {
			content: '';
			margin-top: 0.1rem;
			width: 0.643rem;
			height: 0.786rem;
			background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.24528 11H0L4.75472 5.5L0 0H4.24528L9 5.5L4.24528 11Z' fill='%23F41B1B' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
		}
	}

	&__desc {
		color: $white;
		max-width: 18.5rem;
	}

	&__link {
		color: $white;

		&:before {
			content: '';
			background: $red;
			width: 8.429rem;
			height: 8.429rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		span {
			width: 4.95rem;

			&:after {
				content: none;
			}
		}
	}

	&__title {
		@include media(mobile) {
			margin-bottom: 2.857rem;
		}
		p {
			&:nth-child(2) {
				text-align: right;

				@include media(mobile) {
					text-align: left;
				}
			}
		}

		& > * {
			font-size: 6.429rem;
			text-transform: uppercase;
			line-height: 1;
			position: relative;
			color: $white;

			@include media(tablet) {
				font-size: 5.9rem;
			}

			@include media(mobile) {
				font-size: 2.857rem;
			}
		}

		strong {
			font-family: $medium;
			color: $white;
		}

		em {
			font-family: $italic;
			color: $white;
		}
	}

	&__button {
		display: none;
		@include media(mobile) {
			display: block;
		}
	}

	&__bottom {
		svg {
			margin-left: -2.4rem;
			width: 11.4rem;
			height: 4.8rem;
		}
	}

	&__text {
		color: $white;
		max-width: 26rem;
	}
}

//cursor
#cursor {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	mix-blend-mode: hard-light;
	@include media(mobile) {
		display: none;
	}
}

@media (hover: hover) and (pointer: fine) {
	.cursor__circle {
		width: 8.429rem;
		height: 8.429rem;
		transition:
			opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
			height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	}

	#cursor.arrow .cursor__circle {
		width: 8.429rem;
		height: 8.429rem;
	}

	#cursor.arrow::after {
		content: '';
		position: absolute;
		left: -50%;
		top: -50%;
		width: 100%;
		height: 100%;
		background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 118 118' fill='none'%3E%3Ccircle cx='59' cy='59' r='59' fill='%23F41B1B'/%3E%3Cpath fill='%23fff' d='M31.699 39.712c0 .257-.059.524-.176.803-.117.271-.29.535-.517.792-.227.257-.546.466-.957.627-.41.161-.876.242-1.397.242-.983 0-1.771-.231-2.365-.693-.587-.47-.88-1.159-.88-2.068h1.001c.022.667.246 1.155.671 1.463.425.3.979.451 1.661.451.55 0 1.008-.15 1.375-.451.367-.3.55-.697.55-1.188 0-.271-.051-.502-.154-.693a.983.983 0 0 0-.451-.429 2.317 2.317 0 0 0-.627-.198 4.453 4.453 0 0 0-.748-.055c-.25 0-.484.007-.704.022v-.858c.117.015.352.022.704.022 1.137 0 1.705-.47 1.705-1.408 0-.836-.561-1.254-1.683-1.254-1.188 0-1.837.532-1.947 1.595h-1.001c.03-.807.315-1.415.858-1.826.543-.418 1.25-.627 2.123-.627.8 0 1.445.176 1.936.528.499.352.748.88.748 1.584 0 .396-.128.755-.385 1.078a1.826 1.826 0 0 1-.913.627v.033c.499.095.884.319 1.155.671.279.352.418.755.418 1.21Zm1.303-5.544h3.344c.719 0 1.313.158 1.782.473.477.315.715.81.715 1.485 0 .389-.107.737-.32 1.045-.205.3-.483.513-.835.638.484.11.854.337 1.11.682.265.345.397.777.397 1.298 0 1.474-.99 2.211-2.97 2.211h-3.223v-7.832Zm1.012.88v2.475h1.859c.213 0 .392-.004.539-.011.154-.015.326-.044.517-.088.19-.044.34-.106.45-.187.118-.088.217-.213.298-.374.088-.161.132-.356.132-.583 0-.227-.037-.418-.11-.572a.95.95 0 0 0-.264-.363 1.016 1.016 0 0 0-.43-.198 2.53 2.53 0 0 0-.483-.077 5.472 5.472 0 0 0-.55-.022h-1.958Zm0 3.289v2.794h2.068c.257 0 .465-.004.627-.011.161-.015.34-.048.539-.099.205-.051.367-.125.484-.22.117-.103.216-.246.297-.429.08-.19.12-.418.12-.682 0-.22-.029-.41-.087-.572a.737.737 0 0 0-.275-.385 2.294 2.294 0 0 0-.363-.231 1.357 1.357 0 0 0-.484-.121 5.148 5.148 0 0 0-.495-.033 9.55 9.55 0 0 0-.54-.011h-1.891Zm7.838-4.169v1.199c0 .381-.114.722-.34 1.023-.228.3-.529.495-.903.583v-.55c.403-.132.612-.491.627-1.078h-.627v-1.177h1.243Zm4.69 4.488L43.957 42H42.68l2.618-3.377c-.624-.08-1.104-.308-1.441-.682-.338-.374-.506-.884-.506-1.529 0-.726.216-1.28.649-1.661.44-.389 1.048-.583 1.826-.583h3.366V42h-1.034v-3.344h-1.617Zm1.617-.88v-2.728h-1.98c-1.188 0-1.782.455-1.782 1.364 0 .91.594 1.364 1.782 1.364h1.98Zm8.602 1.936c0 .257-.06.524-.177.803-.117.271-.29.535-.517.792-.227.257-.546.466-.956.627-.411.161-.877.242-1.397.242-.983 0-1.771-.231-2.365-.693-.587-.47-.88-1.159-.88-2.068h1c.023.667.246 1.155.672 1.463.425.3.979.451 1.66.451.55 0 1.009-.15 1.375-.451.367-.3.55-.697.55-1.188 0-.271-.05-.502-.154-.693a.983.983 0 0 0-.45-.429 2.317 2.317 0 0 0-.627-.198 4.452 4.452 0 0 0-.748-.055c-.25 0-.484.007-.705.022v-.858c.118.015.352.022.704.022 1.137 0 1.706-.47 1.706-1.408 0-.836-.561-1.254-1.683-1.254-1.188 0-1.837.532-1.947 1.595H50.82c.03-.807.316-1.415.858-1.826.543-.418 1.25-.627 2.123-.627.8 0 1.445.176 1.936.528.5.352.748.88.748 1.584 0 .396-.128.755-.385 1.078a1.825 1.825 0 0 1-.913.627v.033c.5.095.884.319 1.156.671.278.352.417.755.417 1.21Zm4.591-5.544L64.41 42h-1.155l-.869-2.398h-3.289L58.207 42h-1.1l3.08-7.832h1.165Zm.726 4.609-1.33-3.619-1.354 3.619h2.684Zm7.542-4.609v.902h-2.629V42h-1.034v-6.93h-2.629v-.902h6.292ZM70.503 42v-7.832h1.034v6.633h.022l3.839-6.633h1.309V42h-1.034v-6.655h-.022L71.8 42h-1.298Zm14.571-2.959c-.088.99-.432 1.764-1.034 2.321-.594.55-1.378.825-2.354.825-1.114 0-1.998-.367-2.65-1.1-.653-.74-.98-1.738-.98-2.992 0-1.173.327-2.149.98-2.926.66-.785 1.569-1.177 2.727-1.177.829 0 1.559.224 2.19.671.63.447.982 1.067 1.055 1.859h-1.034c-.117-.513-.374-.913-.77-1.199-.396-.293-.883-.44-1.463-.44-.872 0-1.532.308-1.98.924-.44.616-.66 1.375-.66 2.277 0 .997.235 1.782.704 2.354.47.572 1.111.858 1.925.858.668 0 1.2-.19 1.595-.572.396-.389.635-.95.715-1.683h1.034Zm4.254-.385L86.743 42h-1.276l2.618-3.377c-.624-.08-1.104-.308-1.441-.682-.338-.374-.506-.884-.506-1.529 0-.726.216-1.28.649-1.661.44-.389 1.048-.583 1.826-.583h3.366V42h-1.034v-3.344h-1.617Zm1.617-.88v-2.728h-1.98c-1.188 0-1.782.455-1.782 1.364 0 .91.594 1.364 1.782 1.364h1.98ZM31.699 50.712c0 .257-.059.524-.176.803-.117.271-.29.535-.517.792-.227.257-.546.466-.957.627-.41.161-.876.242-1.397.242-.983 0-1.771-.231-2.365-.693-.587-.47-.88-1.159-.88-2.068h1.001c.022.667.246 1.155.671 1.463.425.3.979.451 1.661.451.55 0 1.008-.15 1.375-.451.367-.3.55-.697.55-1.188 0-.271-.051-.502-.154-.693a.983.983 0 0 0-.451-.429 2.317 2.317 0 0 0-.627-.198 4.453 4.453 0 0 0-.748-.055c-.25 0-.484.007-.704.022v-.858c.117.015.352.022.704.022 1.137 0 1.705-.47 1.705-1.408 0-.836-.561-1.254-1.683-1.254-1.188 0-1.837.532-1.947 1.595h-1.001c.03-.807.315-1.415.858-1.826.543-.418 1.25-.627 2.123-.627.8 0 1.445.176 1.936.528.499.352.748.88.748 1.584 0 .396-.128.755-.385 1.078a1.826 1.826 0 0 1-.913.627v.033c.499.095.884.319 1.155.671.279.352.418.755.418 1.21Zm10.568-5.544V53h-1.034v-3.663h-4.136V53h-1.034v-7.832h1.034v3.267h4.136v-3.267h1.034Zm5.024 0L50.349 53h-1.155l-.87-2.398h-3.288L44.145 53h-1.1l3.08-7.832h1.166Zm.726 4.609-1.331-3.619-1.353 3.619h2.684Zm3.129-4.609h1.43l2.519 6.633 2.43-6.633h1.442V53h-.98v-6.534L55.536 53h-.902l-2.497-6.534V53h-.99v-7.832ZM60.716 53v-7.832h1.035v6.633h.022l3.839-6.633h1.309V53h-1.034v-6.655h-.022L62.015 53h-1.298Z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M29.664 74.29a.625.625 0 0 1 0-1.25h6.667c.345 0 .625.279.625.624v6.667a.625.625 0 1 1-1.25 0v-5.158l-5.6 5.6a.625.625 0 0 1-.884-.884l5.6-5.6h-5.158Z' clip-rule='evenodd'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center;
	}

	#cursor.subtle .cursor__circle {
		opacity: 0.16;
	}
}

.image-container {
	cursor: pointer;
	@include media(mobile) {
		position: relative;
		cursor: auto;
	}
}
