.contact-us {
	padding: 7.9rem 0 8.571rem 0;
	border-radius: 1.429rem;
	background-color: $white;

	@include media(mobile) {
		padding: 5.714rem 0 5.714rem 0;
	}

	&__wrapper {
		@include media(mobile) {
			position: relative;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 6.286rem;
		align-items: center;

		@include media(mobile) {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 5rem;
		}
	}

	&__title {
		em {
			font-family: $italic;
		}

		@include media(mobile) {
			font-size: 2.857rem;
		}
	}

	&__left {
		display: flex;
		gap: 1.857rem;

		@include media(mobile) {
			margin-top: 1.714rem;
			gap: 1.143rem;
		}
	}

	&__video {
		height: 27.071rem;
		max-width: 17.929rem;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;

		@include media(mobile) {
			width: 10.286rem;
			height: 15.5rem;
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::before {
			content: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzMgMzMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYuNSAzM0MyNS42MTI3IDMzIDMzIDI1LjYxMjcgMzMgMTYuNUMzMyA3LjM4NzMgMjUuNjEyNyAwIDE2LjUgMEM3LjM4NzMgMCAwIDcuMzg3MyAwIDE2LjVDMCAyNS42MTI3IDcuMzg3MyAzMyAxNi41IDMzWk0yMiAxNi41TDE0IDExVjIyTDIyIDE2LjVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
			position: absolute;
			right: 0.6rem;
			top: 0.6rem;
			height: 2.357rem;
			width: 2.357rem;
			@include media(mobile) {
				width: 1.643rem;
				height: 1.643rem;
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include media(mobile) {
			justify-content: flex-end;
		}
	}

	&__heading-mobile {
		display: none;
		text-transform: uppercase;

		em {
			font-family: $italic;
		}
		@include media(mobile) {
			display: block;
			font-size: 1.286rem;
			width: 100%;
			line-height: 100%;
		}
	}

	&__heading {
		font-size: 2rem;
		text-transform: uppercase;
		width: 60%;
		@include media(mobile) {
			display: none;
		}

		em {
			font-family: $italic;
		}
	}

	&__manager-name {
		font-size: 0.929rem;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;

		@include media(mobile) {
			line-height: 100%;
			font-size: 1rem;
		}

		&::before {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 43'%3E%3Cpath d='M16.9811 43H0L19.0189 21.5L0 0H16.9811L36 21.5L16.9811 43Z' fill='%23F41B1B' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			height: 0.786rem;
			width: 0.643rem;
			margin-top: 0.15rem;
			flex-shrink: 0;
			@include media(mobile) {
				margin-top: 0.07rem;
			}
		}
	}

	&__manager-position {
		opacity: 0.3;
		font-size: 0.929rem;
		@include media(mobile) {
			line-height: 100%;
			font-size: 1rem;
		}
	}
}
