.hero {
	&__wrapper {
		margin: 5.8rem 0 8.58rem 0;
		padding: 5.4rem 0;
		height: 89.8dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 1.429rem;
		background: $light;
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
	}

	&__title {
		width: 49.5rem;
		margin: 0 auto 1.39rem auto;
		text-align: center;

		p,
		strong,
		em {
			font-size: 4.286rem;
		}
	}

	&__desc {
		width: 18.6rem;
		text-align: center;
		margin: 0 auto 2.9rem;
	}

	&__button {
		margin: 0 auto 1rem auto;
	}

	&__inner {
		margin-bottom: 8.857rem;
	}

	&__text {
		margin: 0 auto;
		width: 26.2rem;
		text-align: center;
	}

	&__phone {
		padding-right: 0.1rem;
		width: 3.071rem;
		height: 3.071rem;
		position: fixed;
		right: 1.714rem;
		bottom: 18dvh;
		z-index: 99;
		svg {
			transition: $transition;

			@include media(mobile) {
				width: 2.214rem;
				height: 2.214rem;
			}

			&:hover,
			&:focus {
				transform: scale(1.19);
			}
		}
	}
}
