body {
	overflow-x: hidden;
}
.hero {
	&__wrapper {
		margin-bottom: 8.571rem;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		overflow: hidden;

		@include media(mobile) {
			margin-bottom: 4.85rem;
			justify-content: initial;
			height: 54.01rem;
		}
	}

	&__background {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 5;

		&--show {
			.hero__background-angar {
				opacity: 1;
			}
			svg {
				path {
					stroke-dashoffset: 0 !important;
					stroke: #181818 !important;
				}
			}
		}
		&-left {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 36.5rem;
			display: flex;
			align-items: end;

			@include media(mobile) {
				width: 17.5rem;
				bottom: 3rem;
				left: -7rem;
			}

			svg {
				width: 100%;
				height: fit-content;

				path {
					stroke-dashoffset: 100%;
					stroke-dasharray: 100%;
					transition:
						4s ease-in-out,
						stroke 1s linear;
					transition-delay: 1s;

					stroke: transparent;
					&.house2 {
						transition-delay: 3s;
					}
					&.house3 {
						transition-delay: 5s;
					}
				}
			}
		}
		&-right {
			position: absolute;
			display: flex;
			align-items: end;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 36.5rem;

			@include media(mobile) {
				width: 17.5rem;
				bottom: 3rem;
				right: -7rem;
			}

			svg {
				width: 100%;
				height: fit-content;

				path {
					stroke-dashoffset: 100%;
					stroke-dasharray: 100%;
					transition:
						4s ease-in-out,
						stroke 1s linear;
					transition-delay: 2s;
					stroke: transparent;
					&.house2 {
						transition-delay: 4s;
					}
					&.house3 {
						transition-delay: 6s;
					}
				}
			}
		}
		&-bottom {
			height: 28.35rem;
			width: 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			pointer-events: all !important;
			@include media(mobile) {
				height: 30.8rem;
				img {
					object-fit: contain;
				}
			}
		}
		&-angar {
			opacity: 0;
			height: 100%;
			border-radius: 1.429rem;
			object-fit: initial;
			overflow: hidden;
			transition: opacity 1s ease-in-out;
			perspective: 10000px;
			@include media(mobile) {
				padding: 0 0.571rem;
				height: 52.4rem;
				top: 5rem;
			}
		}
	}

	&__box {
		height: 89dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 9;

		@include media(mobile) {
			height: auto;
		}
	}

	&__logo {
		display: none;
		@include media(mobile) {
			margin-top: 7.6rem;
			display: flex;
			svg {
				margin: 0 auto;
				width: 6.929rem;
				height: 2.371rem;
			}
		}
	}

	&__title {
		width: 49.5rem;
		margin: 8rem auto 1.39rem auto;
		text-align: center;

		@include media(mobile) {
			width: 100%;
			margin: 1.5rem auto 1.3rem auto;
		}

		p,
		strong,
		em {
			font-size: 4.286rem;

			@include media(mobile) {
				font-size: 2.857rem;
			}
		}
	}

	&__desc {
		width: 18.6rem;
		text-align: center;
		margin: 0 auto 2.9rem;
	}

	&__button {
		margin: 0 auto 1rem auto;
		z-index: 1;
	}

	&__text {
		margin: 0 auto;
		width: 26.2rem;
		text-align: center;

		@include media(mobile) {
			width: 83%;
			margin: 8.6rem auto 0 auto;
		}
	}

	&__phone {
		padding-right: 0.2rem;
		width: 3.071rem;
		height: 3.071rem;
		position: fixed;
		right: 1.514rem;
		bottom: 12.5dvh;
		z-index: 9;

		@include media(mobile) {
			display: none;
		}

		svg {
			transition: $transition;

			@include media(mobile) {
				width: 2.214rem;
				height: 2.214rem;
			}

			&:hover,
			&:focus {
				transform: scale(1.19);
			}
		}
	}
}
