.hero {
	&__wrapper {
		margin: 5rem 0 7.5rem 0;
		padding: 5.714rem 0;
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 1.429rem;
		background: $light;
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
	}

	&__title {
		margin-bottom: 1.143rem;
		text-align: center;
	}

	&__desc {
		width: 18.6rem;
		text-align: center;
		margin: 0 auto 2.857rem;
	}

	&__button {
		margin: 0 auto;
	}

	&__inner {
		margin-bottom: 8.857rem;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	&__text {
		margin: 0 auto;
		width: 27.2rem;
		text-align: center;
	}

	&__phone {
		width: fit-content;
		svg {
			width: 3.071rem;
			height: 3.071rem;
			transition: $transition;

			@include media(mobile) {
				width: 2.214rem;
				height: 2.214rem;
			}

			&:hover,
			&:focus {
				transform: scale(1.19);
			}
		}
	}
}
