.projects-slider{
	padding: 2.857rem 0 7.929rem 0;

	&__title {
		margin-bottom: 2.857rem;
		display: flex;
		gap: 1rem;

		em{
			font-family: $italic;
		}
	}

	&__swiper{
		margin-bottom: 3.714rem;
		@include media(mobile) {
		margin-bottom: 0.714rem;
		}
	}

	
	&__list {
		margin-bottom: 5rem;
		
	}

	&__button {
		margin: 0 auto;
	}
}

